@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: EuclidSquare;
    src: url(./assets/fonts/EuclidSquare-Regular.ttf);
}

@font-face {
    font-family: EuclidSquareBold;
    src: url(./assets/fonts/EuclidSquare-Bold.ttf);
}
body {
    font-family: "EuclidSquare";
}
h1,
h6 {
    font-family: "EuclidSquareBold";
    overflow: hidden;
}
* {
    overflow-x: hidden;
}
.lg\:w-1\/2{
    overflow: hidden;
}
@media (max-width: 600px) {
}
.relative {
    overflow: hidden;
}
