@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: EuclidSquare;
    src: url(./assets/fonts/EuclidSquare-Regular.ttf);
}

@font-face {
    font-family: EuclidSquareBold;
    src: url(./assets/fonts/EuclidSquare-Bold.ttf);
}
body {
    font-family: "EuclidSquare";
}
h1 {
    font-family: "EuclidSquareBold";
}
